doctype html
html
	head
		title= text
		style
			include style/bootstrap.min.css
		style
			include style/style.css
	body
		.row
			h1.col-2.display-3.m-3= text
			h3.col-2.mt-5= movieCount
			h3.col-2.mt-5= editionCount

- var n = 0;
		.container
			.row
				nav
					ul.pagination.justify-content-center
						li.page-item
							a.navPrev.page-link.btn Previous
						while n <= pages
							li.page-item
								a.page-link.btn.navPage(page=n)= ((n++) + 1)
						li.page-item
							a.navNext.page-link.btn Next
					
		.container.w-50
			.row.p-2
				.col-8
					input#queryText.form-control.form-control-sm(value=' ')
				.col-3
					select#queryType.form-control.form-control-sm.justify-content-end
						option(value='title') Title
						option(value='year') Year
						option(value='director') Director
						option(value='dist') Distributor
						option(value='buy_date') Buy date
				.col-1
					button#querySubmit.btn.btn-sm.btn-primary.disabled Search

if items.length != 0
		ul.list-group-flush
			each item in items
				li.list-group-item
					.row.movie(id=item.imdb)
						.col-1
							img.poster.rounded.w-100
						.col-11
							h2(id=item.id) #{item.title}
							h5 #{item.year} | #{item.director}
							h6.ratings
							p #{item.distributor} | #{item.buy_date}
else
		.container
			.row.text-center.p-5
				h3 No movie was found :(

- var n = 0;
		.container
			.row
				nav
					ul.pagination.justify-content-center
						li.page-item
							a.navPrev.page-link.btn Previous
						while n <= pages
							li.page-item
								a.page-link.btn.navPage(page=n)= ((n++) + 1)
						li.page-item
							a.navNext.page-link.btn Next
			.row.text-center
				p.small= results

		script
			include js/jquery-3.3.1.min.js
			include js/events.js